<div class='center-text'>
  <h1>Sign Up</h1>
</div>
<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui one column stackable center aligned page grid">
      <div class="column twelve wide">
        <div class='ui form'>
          <%= form_for :user, url: users_path do |f| %>
            <% if @user.errors.any? %>
              <h4><%= pluralize(@user.errors.count, "error") %> prohibited registration :</h4>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            <% end %>

            <div class="field">
              <%= f.label :username %>
              <%= f.text_field :username %>
            </div>
            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <%= f.submit 'Register', class: 'ui red button' %>
          <% end %>

        </div>


      </div>
    </div>
  </div>
</div>


