
<div class='center-text'>
  <h1><%= @user.username.titleize %>'s Page</h1>
</div>

<div class="profile-container">


    <!-- Favorites display -->
  <div class="ui grid">
    <div class="seven wide column">
      <div class='inline-block one-margin'>
        <h2 class="blue">Favorites<h2>
      </div>
      <div class='inline-block one-margin float-right'>
        <h2 class="blue"><%= @myfavorites.length %><h2>
      </div>
      <div class="ui divider">
      </div>
      <div class="ui middle aligned selection list">

        <% @myfavorites.each do |park|%>
          <%if !park.name.blank?%>
            <div class='item'><%= link_to park.city.titleize + ": " + park.name.titleize + ", " + park.state.capitalize.capitalize, skatepark_path(park) %></div>
          <% else %>
            <div class='item'><%= link_to park.city.titleize + ", " + park.state.capitalize, skatepark_path(park) %></div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <!-- Visited display -->

  <div class="ui grid">
    <div class="seven wide column">
      <div class='inline-block'>
        <h2 class="blue">My Parks<h2>
      </div>
      <div class='inline-block float-right'>
        <h2 class="blue"><%= @myvisited.length %>
          <h2>
      </div>
      <div class="ui divider">
      </div>
      <div class="ui middle aligned selection list">

        <% @myvisited.each do |park|%>
          <%if !park.name.blank?%>
            <div class='item'><%= link_to park.city.titleize  + ", " + park.state.capitalize + ": " + park.name.titleize , skatepark_path(park) %></div>
          <% else %>
            <div class='item'><%= link_to park.city.titleize + ", " + park.state.capitalize, skatepark_path(park) %></div>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>

</div>


