<div class="page-container" >
  <div class='center-text'>
    <h1><%= @user.username.titleize %>'s Page</h1>
  </div>

  <div class="profile-container">

    <!-- Favorites display -->
    <div class="ui grid">
      <div class="seven wide column">
        <div class='inline-block one-margin'>
          <h2 class="blue">Favorites<h2>
        </div>
        <div class='inline-block one-margin float-right'>
          <h2 class="blue"><%= @user.favorite_parks.length %><h2>
        </div>
        <div class="ui divider">
        </div>
        <div class="ui middle aligned selection list">

          <% @user.favorite_parks.each do |park|%>
            <%if park.name%>
              <div class='item'><%= link_to park.city.titleize + ": " + park.name.titleize + ", " + park.state.capitalize.capitalize, skatepark_path(park) %></div>
            <% else %>
              <div class='item'><%= link_to park.city.titleize + ", " + park.state.capitalize, skatepark_path(park) %></div>
            <% end %>
          <% end %>

        </div>
      </div>

      <!-- MAP LOGIC -->
      <div class="seven wide column">

        <div id='relative'>
          <div id="user-map"></div>
        </div>
        <div class="center-text two-top">
          <% if @user.has_favorites? %>
            <button id="toggle-favorite" class="ui button primary">Hide Favorites</button>
          <% end %>
          <% if @user.has_visits? %>
            <button id="toggle-visited" class="ui button primary">Hide Visited</button>
          <% end %>
          <% if @user.has_favorites? && @user.has_visits? %>
            <button id="toggle-both" class="ui button primary">Hide Thrashed</button>
          <% end %>
        </div>
      </div>
    <!-- end ui grid -->
    </div>

    <!-- Visited display -->

    <div class="ui grid">

      <div class="seven wide column">
        <div class='inline-block'>
          <h2 class="blue">My Parks<h2>
        </div>
        <div class='inline-block float-right'>
          <h2 class="blue"><%= @user.visited_parks.length %>
          <h2>
        </div>
        <div class="ui divider">
        </div>
        <div class="ui middle aligned selection list">
          <% @user.visited_parks.each do |park|%>
            <%if park.name%>
              <div class='item'><%= link_to park.city.titleize  + ", " + park.state.capitalize + ": " + park.name.titleize , skatepark_path(park) %></div>
            <% else %>
              <div class='item'><%= link_to park.city.titleize + ", " + park.state.capitalize, skatepark_path(park) %></div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  <!-- end profile container -->
  </div>



  <script>

    function initMap() {

      var parkCoords = <%= @user.first_marker_coordinates %>
      var mapCenter = {lat: parkCoords[0], lng: parkCoords[1]}
      var map = new google.maps.Map(document.getElementById('user-map'), {
        zoom: 6,
        center: mapCenter,
      });

      <% favs_and_visits = @user.favorites_and_visits %>
      <% favs_and_visits.each_value do |skateparks| %>
        <% skateparks.map do |skatepark| %>
          <% skatepark.map_format_nearby.html_safe %>
        <% end %>
      <% end %>

      var favorite = <%= favs_and_visits[:favorite_parks].map {|s| s.map_format_nearby.html_safe}.to_json.html_safe %>;
      var visited = <%= favs_and_visits[:visited_parks].map {|s| s.map_format_nearby.html_safe}.to_json.html_safe %>;
      var both = <%= favs_and_visits[:both].map {|s| s.map_format_nearby.html_safe}.to_json.html_safe %>;
      var skateparks = { favorite: favorite, visited: visited, both: both }

      new MarkerGenerator(map, skateparks).generateMarkers();

    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch('GOOGLE_KEY') %>&callback=initMap"
          async defer></script>

</div>


