<div class="sixteen wide column">
  <div class='header-image' style="background-image: url('<%= header_url(skatepark) %>');"></div>
</div>

<!-- title row -->

<div class="one wide column">
  <% if skatepark.id > 1 %>
    <a href="/skateparks/<%= (skatepark.id) - 1 %>">
      <i class="huge left arrow icon"></i>
    </a>
  <% end %>
</div>
<div class="fourteen wide column center-text">
  <h1><%= skatepark.name.titleize %></h1>
  <h2><%= skatepark.city.titleize %>, <%= skatepark.state.capitalize %></h2>

  <!-- stars -->
  <div class="one-top one-bottom">
    <% if skatepark.rating %>
      <% (skatepark.rating.to_i).times do %>
        <i class="large yellow star icon inline-block"></i>
      <% end %>
      <% (5 - skatepark.rating.to_i).times do %>
        <i class="large yellow empty star icon inline-block"></i>
      <% end %>
    <% end %>
  </div>
</div>
<div class="one wide column right-align">
  <% if skatepark.id < last %>
    <a href="/skateparks/<%= (skatepark.id) + 1 %>">
      <i class="huge right arrow icon"></i>
    </a>
  <% end %>

</div>
