<div class="rate-container one-bottom">
  <%= button_tag 'Rate Skatepark', class: 'ui primary button rate-button'%>
  <div class="rate-form-container hidden one-top">
        <%= form_tag rate_path, method: :put, class: "ui form rate-form" do %>
          <%= hidden_field_tag :user_id, current_user.id %>
          <%= hidden_field_tag :skatepark_id, skatepark.id %>
          <div class="ui selection dropdown field">
            <%= hidden_field_tag :rating, nil %>
            <i class="dropdown icon"></i>
            <div class="default text">Select Rating...</div>
            <div class="menu">
              <div class="item" data-value="1">1</div>
              <div class="item" data-value="2">2</div>
              <div class="item" data-value="3">3</div>
              <div class="item" data-value="4">4</div>
              <div class="item" data-value="5">5</div>
            </div>
          </div>
          <%= submit_tag 'Rate', class: 'ui button' %>
          <div class="ui error message"></div>
        <% end %>
    </div>
</div>
