<div class='review-container'>
  <%= button_tag 'Review Skatepark', class: "ui primary button review-button" %>
  <div class="review-form-container hidden one-top">
      <%= form_tag review_path, method: :put, class: "ui form review-form" do |f| %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :skatepark_id, skatepark.id %>
        <div class="field">
          <%= text_area_tag :review, nil, placeholder: 'Write review here...', class: "" %>
        </div>
        <%= submit_tag 'Review', class: "ui button" %>
        <div class="ui error message"></div>
      <% end %>
  </div>
</div>
