<h1>Skateparks#edit</h1>
  <%= form_for @skatepark, method: :patch do |f| %>
      <%= f.text_field :name, value: @skatepark.name %>
      <%= f.text_field :city, value: @skatepark.city %>
      <%= f.text_field :state, value: @skatepark.state %>
      <%= f.text_field :rating, value: @skatepark.rating %>
      <%= f.text_field :designer, value: @skatepark.designer %>
      <%= f.text_field :builder, value: @skatepark.builder %>
      <%= f.text_field :opened, value: @skatepark.opened %>
      <%= f.text_field :address, value: @skatepark.address %>
      <%= f.text_field :hours, value: @skatepark.hours %>
      <%= f.text_field :size, value: @skatepark.size %>
      <%= f.text_field :notes, value: @skatepark.notes %>
      <%= f.text_field :helmet, value: @skatepark.helmet %>
      <%= f.submit value: 'Create' %>
  <% end %>
