<div class="page-container">
  <div class="ui grid">
    <%= render partial: 'header', locals: { skatepark: @skatepark, last: Skatepark.last.id } %>

    <div class="six wide column">
      <%= render partial: 'info', locals: { skatepark: @skatepark } %>
      <% if @skatepark.coordinates? %>
        <%= render "directions" %>
        <%= render "map" %>
      <% else %>
        <div class="map-missing">
          <h3>Map coming soon!!</h3>
        </div>
      <% end %>
    </div>

    <div class="ten wide column">
      <%= render partial: 'photos', locals: { skatepark: @skatepark } %>
      <% if logged_in? %>
        <%= render partial: 'user_actions', locals: { skatepark: @skatepark } %>
      <% end %>
      <div class="written-review-container">
        <% if @skatepark.reviews? %>
          <h4>Reviews</h4>
          <div class="ui comments">
            <%= render partial: "review", collection: @skatepark.reviews %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal picture-modal">
  <i class="close icon"></i>
  <div class="image content">
    <div class="ui huge image">
      <img class="modal-image" src="">
    </div>
  </div>
</div>
