<div class="page-container">

  <!-- skatepark header -->
  <div class='header-image'></div>

  <div class='center-text one-top one-bottom'>
    <h1><%= @skatepark.city.titleize %>, <%= @skatepark.state.capitalize %></h1>
    <% unless @skatepark.name.blank?%>
      <h2><%= @skatepark.name.titleize %></h2>
    <% end %>
  </div>
  <!-- stars -->
  <div class="stars-container center-text">
    <% if !@skatepark.rating.blank? %>
      <% (@skatepark.rating.to_i).times do %>
        <i class="large yellow star icon inline-block"></i>
      <% end %>
      <% (5 - @skatepark.rating.to_i).times do %>
        <i class="large yellow empty star icon inline-block"></i>
      <% end %>
    <% end %>
  </div>


  <div class="ui grid">

  <!-- skatepark info -->
    <div class="six wide column">
      <div class="ui segments">
        <% if has_user_rating?(@skatepark.id) %>
          <div class="ui segment">
            <h4 class="ui header">User Rating</h4>
          </div>
          <div class="ui segments">
            <div class="ui inverted segment">
              <%= @user_rating %>
            </div>
          </div>
        <% end %>

        <% @skatepark.attributes.each do |attribute,value| %>
          <% exclude = ['id', 'identifier', 'state', 'city', 'name', 'rating', 'notes', 'helmet', 'photo_cred', 'video_url', 'num_pics', 'created_at', 'updated_at',] %>
          <% unless exclude.include?(attribute) %>
            <% if attribute == 'size' && !value.blank? %>
              <div class="ui segment">
                <h4 class="ui header"><%= attribute.capitalize %></h4>
              </div>
              <div class="ui segments">
                <div class="ui inverted segment">
                  <%= number_with_delimiter(value, :delimiter => ',') %> sq ft
                </div>
              </div>

            <% elsif attribute == 'beta' && !value.blank? %>
              <div class="ui segment">
                <h4 class="ui header">Info</h4>
              </div>
              <div class="ui segments">
                <div class="ui inverted segment">
                  <%= value %>
                </div>
              </div>

            <% elsif attribute == 'lights' && !value.blank? %>
              <div class="ui segment">
                <h4 class="ui header">Lights</h4>
              </div>
              <div class="ui segments">
                <div class="ui inverted segment">
                  Yes
                </div>
              </div>

            <% elsif !value.blank?%>
              <div class="ui segment">
                <h4 class="ui header"><%= attribute.capitalize %></h4>
              </div>
              <div class="ui segments">
                <div class="ui inverted segment">
                  <%= value %>
                </div>
              </div>
            <% end %>

          <% end %>
        <% end %>

      <!-- end info segments -->
      </div>

    <!-- Map -->
      <div class="one-top">
        <div id='map-container relative'>
            <div id='map'></div>
        </div>
      </div>

      <div class='center-text one-top'>
        <form action="http://maps.google.com/maps" method="get" target="_blank">
           <label for="saddr">Enter your location</label>
           <input type="text" name="saddr" />
           <input type="hidden" name="daddr" value="<%= @skatepark.address %>" />
           <input type="submit" value="Get directions" />
          </form>
      </div>
      <!-- end skatepark-info column -->
    </div>


    <div class="ten wide column">
      <!-- pictures -->
      <% if (!@num_pics.blank?) && (@skatepark.num_pics > 0) %>
        <div class="ui medium images center-text">
          <% (1..@num_pics).each do |i| %>
              <img class="ui image skatepark-image" src="https://storage.googleapis.com/west-coast-skateparks/<%= @skatepark.state.downcase %>/<%= @skatepark.identifier %>-0<%= i.to_s %>.jpg">
          <% end %>
        </div>
      <% end  %>

      <% if logged_in? %>
      <div class="button-container center-text">
      <!-- visit button -->

        <div class="visit-container inline-block">
          <% if user_has_skatepark(current_user.id, @skatepark.id) %>
            <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>
              <%= button_to remove_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button remove-visit-button' do %>
                <i class="red remove icon inline-block"></i> <p class="inline-block">Never Been Here</p>
              <% end %>
            <% else %>
              <%= button_to add_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button add-visit-button' do %>
                <i class="green checkmark icon inline-block"></i> <p class="inline-block">Been Here</p>
              <% end %>
            <%end%>
          <% else %>
              <%= button_to add_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button add-visit-button' do %>
                <i class="green checkmark icon inline-block"></i> <p class="inline-block">Been Here</p>
              <% end %>
          <% end %>
        </div>

        <!-- favorite button -->

        <div class="fav-container inline-block one-top">
          <% if user_has_skatepark(current_user.id, @skatepark.id) %>
            <% if user_has_skatepark(current_user.id, @skatepark.id).favorite == true %>
              <%= button_to remove_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button remove-favorite-button' do %>
                <i class="empty heart icon inline-block"></i> <p class="inline-block">Unfavorite</p>
              <% end %>
            <% else %>
              <%= button_to add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button add-favorite-button' do %>
                <i class="red heart icon inline-block"></i> <p class="inline-block">Favorite</p>
              <% end %>
            <%end%>
          <% else %>
            <%= button_to add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui button add-favorite-button' do %>
                <i class="red heart icon inline-block"></i> <p class="inline-block">Favorite</p>
            <% end %>
          <% end %>
        </div>

      <!-- rate containers -->
      <% if user_has_skatepark(current_user.id, @skatepark.id) %>
        <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>
          <div class="initial-rate-container one-bottom">
            <%= button_to 'Rate Skatepark', rate_path(current_user.id, @skatepark.id), class: 'ui primary button initial-rate-button'%>
            <div class="initial-rate-form-container hidden one-top">
              <div class="ui form">
                <%= form_for @user_skatepark, url: rate_path(current_user.id, @skatepark.id), method: :put do |f| %>
                  <div class="field">
                  <%= f.text_field :rating, placeholder: 'enter rating' %>
                  </div>
                  <%= f.submit value: 'Rate', class: "ui button" %>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>




      <!-- review containers -->
          <% if user_has_skatepark(current_user.id, @skatepark.id) %>
            <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>
              <div class='initial-review-container'>
                <%= button_to 'Review Skatepark', review_path(current_user.id, @skatepark.id), class: "ui primary button initial-review-button" %>

                <div class="initial-review-form-container hidden one-top">
                  <div class="ui form">
                    <%= form_for @user_skatepark, url: review_path(current_user.id, @skatepark.id), method: :put do |f| %>
                      <div class="field">
                      <%= f.text_area :review, placeholder: 'write review here' %>
                      </div>
                      <%= f.submit value: 'Review', class: 'ui button' %>
                    <% end %>
                  </div>

                </div>
              </div>

            <% end %>
          <% end %>
          <!-- end if logged in? -->
        <% end %>
        <!-- end button-container -->
      </div>
    <!-- end column -->
    </div>
    <!-- end ui grid -->
  </div>

  <!-- Reviews -->
  <div class="center-text written-review-container">
    <% if has_review?(@skatepark.id) %>
      <h4>Reviews</h4>
      <div class="ui relaxed divided list">
        <% @all_user_skateparks.each do |user_park| %>
          <div class="item"><%= user_park.review %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Update button for admin -->
  <% if current_user && current_user.admin %>
    <%= button_to 'Update', edit_skatepark_path, method: :get, class: 'ui primary button' %>
  <% end %>

    <!-- end page-container -->
</div>

<div class="ui basic modal picture-modal">
  <i class="close icon"></i>
  <div class="image content">
    <div class="ui huge image">
      <img class="modal-image" src="">
    </div>
  </div>
</div>

<script>

function initMap() {

  var myLatLng = {lat: <%= @skatepark.get_lat_long[0] %>, lng: <%= @skatepark.get_lat_long[1] %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 9,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '<%= @skatepark.city.titleize %>, <%= @skatepark.state.capitalize %>'
  });

}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_KEY'] %>&callback=initMap"
    async defer></script>

<style>
  .header-image {
  position: relative;
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/<%= @skatepark.state.downcase %>/<%= @skatepark.identifier %>-header.jpg" );
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 -25px;
  padding: 8%;
}
</style>



