<div class="container">
  <h1><%= @skatepark.city %>, <%= @skatepark.state %></h1>


  <ul class="collection">
  <% @skatepark.attributes.each do |attribute,value| %>
    <% exclude = ['created_at', 'updated_at', 'id'] %>

    <% unless exclude.include?(attribute) %>
      <% if attribute == 'size' && !value.blank? %>
        <li class="collection-item"><%= attribute.capitalize %>: <%= value %> sq ft</li>
      <% elsif !value.blank?%>
        <li class="collection-item"><%= attribute.capitalize %>: <%= value %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
  <% if current_user && current_user.admin %>
    <%= button_to 'Update', edit_skatepark_path, method: :get %>
  <% end %>

<!-- favorite button -->

  <div id="fav-container">


    <% if user_has_skatepark(current_user.id, @skatepark.id) %>
        <% if user_has_skatepark(current_user.id, @skatepark.id).favorite == true %>

          <%= button_to 'Remove Favorite', remove_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'remove-favorite-button' %>

        <% else %>

          <%= button_to 'Add Favorite', add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'add-favorite-button' %>

        <%end%>

      <% else %>

          <%= button_to 'Add Favorite', add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'add-favorite-button' %>

      <% end %>


  </div>



  <div class="map-container">
      <div id='map'></div>
  </div>




</div>


