<div class="page-container">

  <!-- skatepark header -->
  <!-- <div class='header-image'></div> -->

  <div class="ui grid">

    <!-- header -->
    <%= render partial: 'header', locals: { skatepark: @skatepark, last: @last } %>


    <div class="six wide column">

      <!-- skatepark info -->
      <div class="ui segments">
        <!-- figure out new way to do this -->
        <% if @skatepark.has_ratings? %>
          <div class="ui segment">
            <h4 class="ui header">User Rating</h4>
          </div>
          <div class="ui segments">
            <div class="ui inverted segment">
              <%= @skatepark.average_rating %>
            </div>
          </div>
        <% end %>

        <% @skatepark.visibile_attributes.each do |attribute, value| %>
          <% if value %>
            <div class="ui segment">
              <h4 class="ui header"><%= attribute %></h4>
            </div>
            <div class="ui segments">
              <div class="ui inverted segment">
                <%= value %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>



    <!-- Map -->
      <div class="center-text">
        <button id="toggle-markers" class="ui button">Hide Nearby Parks</button>
      </div>
      <div class="one-top">
        <div id='map-container relative'>
            <div id='map'></div>
        </div>
      </div>

      <div class='center-text one-top'>
        <form action="https://maps.google.com/maps" method="get" target="_blank">
          <div class="ui action input one-top">
            <input type="text" name="saddr" placeholder="Enter your location...">
            <button class="ui button">Get Directions</button>
          </div>
          <input type="hidden" name="daddr" value="<%= @skatepark.address %>" />
        </form>
      </div>
      <!-- end skatepark-info column -->
    </div>


    <div class="ten wide column">
      <!-- pictures -->

      <div class="ui medium images center-text">
        <% @skatepark.pictures.each do |url| %>
          <img class="ui image skatepark-image" src="<%= url %>" />
        <% end %>
      </div>
      <div class="center-text one-top">
        <% if @skatepark.photo_cred %>
          <p>Photos courtesy of <a href="<%= @skatepark.photo_url %>"><%= @skatepark.photo_cred %></a> </p>
        <% end %>
      </div>

      <% if logged_in? %>
        <div class="button-container center-text">
          <% visited = @skatepark.already_visited_by?(current_user) %>
          <% visibility = visited ? "" : "hidden" %>

          <!-- visit button -->

          <div class="visit-container inline-block">
            <%= render partial: "add_visit_button", locals: {visited: visited, skatepark: @skatepark} %>
            <%= render partial: "remove_visit_button", locals: {visited: visited, skatepark: @skatepark} %>
          </div>

          <!-- favorite button -->
          <div class="fav-container inline-block one-top">
            <% favorited = @skatepark.already_favorited_by?(current_user) %>
            <%= render partial: "remove_favorite_button", locals: {favorited: favorited, skatepark: @skatepark} %>
            <%= render partial: "add_favorite_button", locals: {favorited: favorited, skatepark: @skatepark} %>
          </div>

          <div class="opinions-container <%= visibility %>">
            <!-- rate containers -->
            <%= render partial: "rate", locals: {skatepark: @skatepark} %>
            <!-- review containers -->
            <%= render partial: "review", locals: {skatepark: @skatepark} %>
          </div>

        <!-- end button-container -->
        </div>
      <!-- end if logged in? -->
      <% end %>


      <!-- Reviews -->
      <div class="written-review-container">
        <% if @skatepark.has_reviews? %>
          <h4>Reviews</h4>
          <div class="ui comments">
            <% @skatepark.reviews.each do |review| %>
            <div class="comment">
              <div class="content">
                <a class="author"><%= review.user.username %></a>
                <div class="metadata">
                  <div class="date">
                    <%= review.created_at.strftime("%m/%d/%y") %>
                  </div>
                </div>
                <div class="text">
                  <%= review.review %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <!-- end column -->
    </div>
    <!-- end ui grid -->
  </div>



  <!-- Update button for admin -->
  <% if current_user && current_user.admin %>
    <%= button_to 'Update', edit_skatepark_path, method: :get, class: 'ui primary button' %>
  <% end %>

    <!-- end page-container -->
</div>

<div class="ui basic modal picture-modal">
  <i class="close icon"></i>
  <div class="image content">
    <div class="ui huge image">
      <img class="modal-image" src="">
    </div>
  </div>
</div>

<script>
  function initMap() {
    var skatepark = <%= @skatepark.to_json.html_safe %>
    var nearbyParks = <%= @skatepark.nearby_parks.to_json.html_safe %>
    var infowindowPic = "<%= @skatepark.first_picture %>"

    var myLatLng = {lat: skatepark.latitude, lng: skatepark.longitude}

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: skatepark.city+', '+skatepark.state
    });

    contentString = "<div id='content'>"+skatepark.city+"</div>"
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    addNearbyParkMarkers(map, skatepark, nearbyParks, infowindowPic);

  }

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_KEY'] %>&callback=initMap"
    async defer>
</script>

<style>
  .header-image {
  position: relative;
  background-image: url("https://storage.googleapis.com/west-coast-skateparks/<%= @skatepark.state %>/<%= @skatepark.identifier %>-header.jpg" );
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 -25px;
  padding: 8%;
}
</style>



