<div class="page-container">
  <div class="ui grid">
    <%= render partial: 'header', locals: { skatepark: @skatepark, last: Skatepark.last.id } %>

    <div class="six wide column">
      <%= render partial: 'info', locals: { skatepark: @skatepark } %>
      <%= render partial: "map", locals: { skatepark: @skatepark } %>
    </div>

    <div class="ten wide column">
      <%= render partial: 'photos', locals: { skatepark: @skatepark } %>
      <% if logged_in? %>
        <%= render partial: 'user_actions', locals: { skatepark: @skatepark } %>
      <% end %>
      <%= render partial: 'reviews', locals: { skatepark: @skatepark } %>
    </div>
  </div>
</div>

<div class="ui basic modal picture-modal">
  <i class="close icon"></i>
  <div class="image content">
    <div class="ui huge image">
      <img class="modal-image" src="">
    </div>
  </div>
</div>
