<div class="container">
  <h1><%= @skatepark.city %>, <%= @skatepark.state %></h1>


  <ul class="collection">
  <% @skatepark.attributes.each do |attribute,value| %>
    <% exclude = ['created_at', 'updated_at', 'id'] %>

    <% unless exclude.include?(attribute) %>
      <% if attribute == 'size' && !value.blank? %>
        <li class="collection-item"><%= attribute.capitalize %>: <%= value %> sq ft</li>
      <% elsif !value.blank?%>
        <li class="collection-item"><%= attribute.capitalize %>: <%= value %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
  <p>Reviews</p>
  <ul class="collection" >
    <% @all_user_skateparks.each do |user_park| %>
      <li class="collection-item"><%= user_park.review %></li>
    <% end %>

  </ul>

  <p>User Rating: <%= @user_rating %></p>


  <% if current_user && current_user.admin %>
    <%= button_to 'Update', edit_skatepark_path, method: :get %>
  <% end %>

<!-- favorite button -->

  <div class="fav-container">


    <% if user_has_skatepark(current_user.id, @skatepark.id) %>
        <% if user_has_skatepark(current_user.id, @skatepark.id).favorite == true %>

          <%= button_to 'Remove Favorite', remove_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'remove-favorite-button' %>

        <% else %>

          <%= button_to 'Add Favorite', add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'add-favorite-button' %>

        <%end%>

      <% else %>

          <%= button_to 'Add Favorite', add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'add-favorite-button' %>

      <% end %>


  </div>

<!-- visit button -->

  <div class="visit-container">


    <% if user_has_skatepark(current_user.id, @skatepark.id) %>
        <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>

          <%= button_to 'Never Been Here', remove_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'remove-visit-button' %>


        <% else %>

          <%= button_to 'Been Here', add_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'add-visit-button' %>

        <%end%>

      <% else %>

          <%= button_to 'Been Here', add_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'add-visit-button' %>

      <% end %>


  </div>

<!-- rate button -->

    <% if user_has_skatepark(current_user.id, @skatepark.id) %>
      <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>

        <%= button_to 'Rate Skatepark', rate_path(current_user.id, @skatepark.id), class: 'rate-button'%>

        <div class="rate-container">
          <%= form_for @user_skatepark, url: rate_path(current_user.id, @skatepark.id), method: :put do |f| %>
            <%= f.text_field :rating, placeholder: 'enter rating' %>
            <%= f.submit value: 'Rate' %>
          <% end %>
        </div>

      <% end %>
    <% end %>

<!-- review button -->

    <% if user_has_skatepark(current_user.id, @skatepark.id) %>
      <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>

        <%= button_to 'Review Skatepark', review_path(current_user.id, @skatepark.id), class: "review-button" %>

        <div class="review-container">
          <%= form_for @user_skatepark, url: review_path(current_user.id, @skatepark.id), method: :put do |f| %>
            <%= f.text_field :review, placeholder: 'write review here' %>
            <%= f.submit value: 'Review' %>
          <% end %>
        </div>

      <% end %>
    <% end %>


  </div>




  <!-- Map -->

    <div id='map-container'>
      <div id='map'>

      </div>
    </div>





</div>
<script>

  L.mapbox.accessToken = 'pk.eyJ1IjoiYWxvb2thdG9tbW9yb3ciLCJhIjoiNGM4ODhkZjUwMGM1ZDE4M2VjNzQ4MmQ4ODcxMjk5ZjMifQ.XVvFc8kl-0z4NAblE-mNqw';
  var map = L.mapbox.map('map', 'mapbox.streets').setView(<%= @skatepark.get_lat_long %>, 10);
  L.mapbox.featureLayer({
    type: 'Feature',
    geometry: {
        type: 'Point',
        coordinates: <%= @skatepark.get_lat_long.reverse %>
    },
    properties: {
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        'marker-symbol': 'star-stroked'
    }
}).addTo(map);

</script>




