<div class="page-container">

  <!-- skatepark header -->

  <div class='center-text skatepark-title'>
    <h1><%= @skatepark.city.titleize %>, <%= @skatepark.state.capitalize %></h1>
    <% unless @skatepark.name.blank?%>
      <h2><%= @skatepark.name.titleize %></h2>
    <% end %>
  </div>



  <div class="ui two column grid">

  <!-- skatepark info -->
    <div class="column">
      <div class="ui segments">
        <% @skatepark.attributes.each do |attribute,value| %>
          <% exclude = ['state', 'city', 'name', 'notes', 'created_at', 'updated_at', 'id'] %>
          <% unless exclude.include?(attribute) %>
            <% if attribute == 'size' && !value.blank? %>
              <div class="ui segment">
                <h4 class="ui header"><%= attribute.capitalize %></h4>
              </div>
              <div class="ui segments">
                <div class="ui inverted segment">
                  <%= value.capitalize %> sq ft
                </div>
              </div>

            <% elsif !value.blank?%>
              <div class="ui segment">
                <h4 class="ui header"><%= attribute.capitalize %></h4>
              </div>
              <div class="ui segments">
                <div class="ui inverted segment">
                  <%= value.titleize %>
                </div>
              </div>
            <% end %>

          <% end %>
        <% end %>

        <% if has_user_rating?(@skatepark.id) %>
          <div class="ui segment">
            <h4 class="ui header">User Rating</h4>
          </div>
          <div class="ui segments">
            <div class="ui inverted segment">
              <%= @user_rating %>
            </div>
          </div>
        <% end %>

      </div>
    </div>


    <div class="column">
      <div class="ui small images center-text">
          <img class="ui image" src="https://storage.googleapis.com/west-coast-skateparks/<%= @skatepark.id %>-01.jpg">
          <img class="ui image" src="https://storage.googleapis.com/west-coast-skateparks/<%= @skatepark.id %>-02.jpg">
      </div>
      <div class="ui small images center-text">
          <img class="ui image" src="https://storage.googleapis.com/west-coast-skateparks/<%= @skatepark.id %>-03.jpg">
          <img class="ui image" src="https://storage.googleapis.com/west-coast-skateparks/<%= @skatepark.id %>-04.jpg">
      </div>


      <% if logged_in? %>
      <div class="button-container center-text">
      <!-- visit button -->

        <div class="visit-container inline-block">
          <% if user_has_skatepark(current_user.id, @skatepark.id) %>
            <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>
              <%= button_to 'Never Been Here', remove_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui red button remove-visit-button' %>
            <% else %>
              <%= button_to 'Been Here', add_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui primary button add-visit-button' %>
            <%end%>
          <% else %>
              <%= button_to 'Been Here', add_visit_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui primary button add-visit-button' %>
          <% end %>
        </div>

      <!-- favorite button -->

        <div class="fav-container inline-block">
          <% if user_has_skatepark(current_user.id, @skatepark.id) %>
            <% if user_has_skatepark(current_user.id, @skatepark.id).favorite == true %>
              <%= button_to 'Unfavorite', remove_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui red button remove-favorite-button' %>
            <% else %>
              <%= button_to 'Favorite', add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui primary button add-favorite-button' %>
            <%end%>
          <% else %>
            <%= button_to 'Favorite', add_favorite_path(current_user.id, @skatepark.id), method: :put, remote: true, class: 'ui primary button add-favorite-button' %>
          <% end %>
        </div>

      <!-- rate containers -->
      <% if user_has_skatepark(current_user.id, @skatepark.id) %>
        <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>
          <div class="initial-rate-container">
            <%= button_to 'Rate Skatepark', rate_path(current_user.id, @skatepark.id), class: 'ui primary button initial-rate-button '%>
            <div class="initial-rate-form-container hidden">
              <div class="ui form">
                <%= form_for @user_skatepark, url: rate_path(current_user.id, @skatepark.id), method: :put do |f| %>
                  <%= f.text_field :rating, placeholder: 'enter rating' %>
                  <%= f.submit value: 'Rate', class: "ui button" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="rate-container"></div>
      <div class="rate-form-container hidden"></div>


      <!-- review containers -->
          <% if user_has_skatepark(current_user.id, @skatepark.id) %>
            <% if user_has_skatepark(current_user.id, @skatepark.id).visited == true %>
              <div class='initial-review-container inline-block'>
                <%= button_to 'Review Skatepark', review_path(current_user.id, @skatepark.id), class: "ui primary button initial-review-button" %>

                <div class="initial-review-form-container hidden">
                  <div class="ui form">
                    <%= form_for @user_skatepark, url: review_path(current_user.id, @skatepark.id), method: :put do |f| %>
                      <%= f.text_area :review, placeholder: 'write review here' %>
                      <%= f.submit value: 'Review', class: 'ui button' %>
                    <% end %>
                  </div>

                </div>
              </div>

            <% end %>
          <% end %>

          <div class="review-container"></div>
          <div class="review-form-container hidden"></div>

      <!-- end if logged in? -->
      <% end %>

     </div>

    <!-- end column -->
    </div>






    <!-- end two column grid -->
  </div>

  <!-- Reviews -->
  <div class="center-text written-review-container">
    <% if has_review?(@skatepark.id) %>
      <h4>Reviews</h4>
      <div class="ui relaxed divided list">
        <% @all_user_skateparks.each do |user_park| %>
          <div class="item"><%= user_park.review %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Update button for admin -->
  <% if current_user && current_user.admin %>
    <%= button_to 'Update', edit_skatepark_path, method: :get, class: 'ui primary button' %>
  <% end %>






      <!-- Map -->
        <div id='map-container'>
            <div id='map'></div>
        </div>

        <div class='center-text one-margin'>
          <form action="http://maps.google.com/maps" method="get" target="_blank">
               <label for="saddr">Enter your location</label>
               <input type="text" name="saddr" />
               <input type="hidden" name="daddr" value="<%= @skatepark.address %>" />
               <input type="submit" value="Get directions" />
            </form>
        </div>

</div>

<div class="ui basic modal picture-modal">
  <i class="close icon"></i>
  <div class="image content">
    <div class="ui huge image">
      <img class="modal-image" src="">
    </div>
  </div>
</div>





<script>



function initMap() {

  var myLatLng = {lat: <%= @skatepark.get_lat_long[0] %>, lng: <%= @skatepark.get_lat_long[1] %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 9,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '<%= @skatepark.city.titleize %>, <%= @skatepark.state.capitalize %>'
  });



}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_KEY'] %>&callback=initMap"
        async defer></script>



