<h1>Skateparks#show</h1>


<ul>
<% @skatepark.attributes.each do |attribute,value| %>
  <% exclude = ['created_at', 'updated_at', 'id'] %>

  <% unless exclude.include?(attribute) %>
    <% if attribute == 'size' && !value.blank? %>
      <li><%= attribute.capitalize %>: <%= value %> sq ft</li>
    <% elsif !value.blank?%>
      <li><%= attribute.capitalize %>: <%= value %></li>
    <% end %>
  <% end %>
<% end %>
</ul>

<% if current_user && current_user.admin %>
  <%= link_to 'Delete', skatepark_path, method: :delete %>
  <%= link_to 'Update', edit_skatepark_path %>
<% end %>


