<!DOCTYPE html>
<html>
  <head>
    <title>West Coast Skateparks</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>
  <body>
    <div class="nav-container">
      <% if logged_in? %>
        <%= render partial: 'shared/logged_in_nav' %>
      <% else %>
        <%= render partial: 'shared/logged_out_nav' %>
      <% end %>
    </div>

    <% if flash.any? %>
      <div id="flashes" class="ui <%= flash_class_name(flash.first.first) %> message transition hidden">
        <div class="header"><%= flash.first.second %></div>
      </div>
    <% end %>

    <div class="heading-container center-text" >
      <div class="inline-block" >
        <p class="title-words">West Coast Skateparks</p>
      </div>
      <div class='search-form-container'>

        <div class='ui search inline-block'>
          <%= form_tag(search_path, method: :get, class: 'search-form') do%>
            <div class="ui icon input">
              <%= text_field_tag :search, nil, placeholder: 'Search skateparks', required: true, id: 'search-input'  %>
              <i class="circular search link icon search-button"></i>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="search-container"></div>



    <%= yield %>

    <div class="ui inverted segment">
      <div class="ui container">
          &copy West Coast Skateparks 2015
      </div>
    </div>

  <!-- SIGN IN MODAL -->
  <%= render partial: 'shared/session_modal' %>



  </body>
</html>
